.navbar {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  .btn {
    color: #fff;
    border-radius: 50px;
    background-image: linear-gradient(to right, #6B7BC9 0%, #6672AF 100%);
  }
}
